<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>salesforce.com</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/SpiceJet_png.png</loginLogo>
        <pageHeader>SharedDocuments/Spicejet_Logo.png</pageHeader>
        <primaryColor>#B60028</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#FF8816</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#FFFFFF</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>nakul.mudgal@comprotechnologies.com</emailSenderAddress>
    <emailSenderName>Employee Community</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <logoutUrl>http://spicejet.com</logoutUrl>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Cases</label>
            <position>1</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>Case</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <defaultListViewId>My_Open_BIR_Tracers</defaultListViewId>
            <label>BIR Tracers</label>
            <position>2</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>BIR_Tracer__c</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <defaultListViewId>RecentlyViewedAccounts</defaultListViewId>
            <label>Customers</label>
            <position>3</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>Account</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>admin</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Designer</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Employee_Community1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Employee_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>BIR_Tracer__c</customTab>
        <customTab>Booking__c</customTab>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Chatter</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>report</standardTab>
        <standardTab>Dashboard</standardTab>
    </tabs>
    <urlPathPrefix>employee</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
